<!DOCTYPE html>
<html lang="en" >

<meta name="Sailboat asking price estimator" content="Sailboat asking price estimator">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">

  {% load staticfiles %}

  <head>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/effect-ini.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  </head>

  <body>

<div role="navigation">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{% url 'logic:estimate_view' %}">
	  <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
	  </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">

		{% if current_view = 'estimate_view' %}
                <li class="active"><a href="{% url 'logic:estimate_view' %}">Estimate</a></li>
		{% else %}
                <li><a href="{% url 'logic:estimate_view' %}">Estimate  <span class="sr-only">(current)</span></a></li>
		{% endif %}

		{% if current_view = 'plots_view' %}
                <li class="active"><a href="{% url 'logic:plots_view' %}">Plots <span class="sr-only">(current)</span></a></li>
		{% else %}
                <li><a href="{% url 'logic:plots_view' %}">Plots</a></li>
		{% endif %}


	  </ul>

	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div> 


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

    {% block content %}
    {% endblock %}

  </body>

</html>
